.chat {
  background-color: white;
  border-radius: 0.25rem;
  width: 100%;
  box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  .col-4{
    padding:0 20px;
    overflow:hidden;
  }
  .matchs .header:after {
    width: 130%;
    left: -40px;
  }
  h5 {
    bottom: 0;
    right: 20px;
    z-index: 1;
    color: #363B6D;
    opacity: 0.5;
    font-size: 15px;
    margin-bottom: 0 !important;
  }
  h5.online{
    color:$main-online;
    opacity: 1;
  }
  .chat-container {
    border-left: 3px solid rgba(50, 54, 100, 0.3);
    .message-to{
      padding: 10px 0;
      border-bottom: 3px solid rgba(50, 54, 100, 0.3);
      a{
        display: flex;
        align-items: center;
      }
      img{
        width:80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
      h1{
        color:$main-orange;
        opacity: 1;
        margin: 0;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
    .chat-box {
      padding-top: 20px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      ul li {
        display: inline-block;
        clear: both;
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 2px;
        font-family: Helvetica, Arial, sans-serif;
      }

      .him {
        background: #eee;
        float: left;
      }

      .me {
        float: right;
        background: #f3aeea;
        color: #fff;
      }

      .him + .me {
        border-bottom-right-radius: 5px;
      }

      .me + .me {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .me:last-of-type {
        border-bottom-right-radius: 30px;
      }
    }
    h1{
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 40px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: #363B6D;
      opacity: 0.5;
      text-align:center;
    }
  }
}