#chat-container{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  padding-top: 280px;
  padding-bottom: 20px;
  .row{
    margin-right: 0;
    margin-left: 0;
    min-height: 350px;
    margin-bottom: 20px;
    transition: all .3s;
  }
}
.chat {
  background-color: white;
  border-radius: 0.25rem;
  width: 100%;
  box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  .col-4{
    overflow:hidden;
    height: 100%;
    position: relative;
    padding:0;
  }
  .matchs{
    max-height: initial;
  }
  .chat-left{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 90px 0px 0 20px;
  }

  .matchs .header:after {
    width: 130%;
    left: -40px;
  }
  .matchs .display-matchs{
    height: 100%;
    margin:0;
    padding:0;
    max-height: initial;
    a{
      &:focus, &:active, &:hover{
        text-decoration: none;
      }
    }
    &::-webkit-scrollbar-thumb {
      background:rgba(50, 54, 100, 0.3); 
      border-radius:0.25rem;
    }
    &::-webkit-scrollbar-thumb:hover {
      background:rgba(50, 54, 100, 0.7);
    }
    h2{
      color: #363B6D;
      font-size: 18px;
      letter-spacing: 0.5px;
      margin-right:20px;
    }
    .one-match 
    {
      height: 80px;
      margin-bottom: 7.5px;
      margin-top: 7.5px;
      border-radius: 40px 0.25rem 0.25rem 40px;
      &:focus, &:active, &:hover{
        background-color: rgba(50, 54, 100, 0.1);
      }
      .match-info{
        flex-grow: 1;
        .username{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .preview{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .unread{
            margin-left: 5px;
            color: white;
            background-color: #E83114;
            padding: 0 8px;
            border-radius: 20px;
            font-size: 13px;
          }
        }
      }
    }
    .one-match-content{
      padding-right: 10px;
      .img_loading{
        position: relative;
        overflow: hidden;
        &:before{
          background-color: #E83114;
          width: 130px;
          -webkit-transform: rotate(-14deg) skewX(0deg);
          -ms-transform: rotate(-14deg) skewX(0deg);
          transform: rotate(-14deg) skewX(0deg);
          opacity: 0.6;
          content: "";
          position: absolute;
          bottom: 0px;
          height: 30px;
          border-radius: 400px 0px 239px 0px / 123px 0px 121px 0px;
        }
        &:after{
          background-color: #363B6D;
          width: 130px;
          -webkit-transform: rotate(-8deg) skewX(0deg);
          -ms-transform: rotate(-8deg) skewX(0deg);
          transform: rotate(-8deg) skewX(0deg);
          opacity: 0.6;
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0;
          height: 20px;
          border-radius: 400px 0px 239px 0px / 123px 0px 121px 0px;
        }
      }
      .img_loading.img_none{
        &:before, &:after{
          opacity: 0;
        }
      }
    }
    .one-match-content.online{
      .img_loading{
        &:before{
          background-color: #64A878;
        }
        &:after{
          background-color: #72C17C;
        }
      }
      h4{
        color:#72C17C;
      }
    }
  }
  h5 {
    bottom: 0;
    right: 20px;
    z-index: 1;
    color: #363B6D;
    opacity: 0.5;
    font-size: 15px;
    margin-bottom: 0 !important;
  }
  h5.online{
    color:$main-online;
    opacity: 1;
  }
  .chat-container {
    border-left: 3px solid rgba(50, 54, 100, 0.3);
    position: relative;
    .message-to{
      position: absolute;
      width: 100%;
      left: 0;
      padding: 10px 15px;
      .message-to-container{
        width: 100%;
        display: flex;
        padding-bottom: 10px;
        border-bottom: 3px solid rgba(50, 54, 100, 0.3);
      }
      a{
        display: flex;
        align-items: center;
        &:hover{
          text-decoration: none;
        }
        &:hover h1{
          text-decoration: underline;
          color: $main-dark-purple;
        }
      }
      img{
        width:80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
      h1{
        color:$main-orange;
        opacity: 1;
        margin: 0;
        font-size: 20px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all .2s;
      }
      .back{
        display: none;
      }
    }
    .chat-box {
      padding: 103px 4px 61px 15px;
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      &:hover ul {
        visibility: visible;
      }

      ul {   
        list-style: none;
        margin: 0;
        padding: 10px 0;
        height: 100%;
        overflow-y: scroll;
        visibility: hidden;
        padding-right: 3px;

        &:hover{
          visibility: visible;
        }
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          background: transparent; 
        }
        &::-webkit-scrollbar-thumb {
          background:rgba(50, 54, 100, 0.3); 
          border-radius:0.25rem;
        }
        &::-webkit-scrollbar-thumb:hover {
          background:rgba(50, 54, 100, 0.7);
        }
      }
      ul li {
        visibility: visible;
        display: inline-block;
        clear: both;
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 2px;
        font-family: Helvetica, Arial, sans-serif;
      }

      .him {
        background: rgba(50, 54, 100, 0.1);
      
        float: left;
        border-bottom-left-radius: 5px;
      }

      .me {
        float: right;
        background: #F4A194;;
        font-weight: 100;
        color: white;
        border-bottom-right-radius: 5px;
      }

      .him + .me {
        border-bottom-right-radius: 5px;
      }

      .me + .him {
        border-bottom-left-radius: 5px;
      }
      
      .me + .me {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .him + .him {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .him + .him:last-of-type {
        border-bottom-left-radius:  30px;
      }

      .me + .me:last-of-type {
        border-bottom-right-radius: 30px;
      }
    }
    .chat-form-group{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 0 15px;
      .chat-send{
        width: 100%;
        display: flex;
        padding: 10px 0;
        border-top: 3px solid rgba(50, 54, 100, 0.3);
        .form-control{
          border:none
        }
        .btn{
          background-color: rgba(50, 54, 100, 0.3);
          border: none;
          color:white;
          transition: all .3s
        }
        .btn.active{
          background-color: $main-orange;
        }
      }
    }
    h1{
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 40px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: #363B6D;
      opacity: 0.5;
      text-align:center;
    }
  }
}

@media screen and(max-width: 1000px){
  #chat-container {
    padding-top: 220px;
    .row.active{
      margin-left: -100%;
    }
  }
  .chat .chat-container {
    .message-to {
      .back{
        display: flex;
        align-items: center;
        margin-right: 10px;
        font-size: 20px;
        color: rgba(50, 54, 100, 0.3);
        transition: all .3s;
        i{
          cursor: pointer;
          &:hover{
            color: rgba(50, 54, 100,1);
          }
        }
      }
    }
  }
}

@media screen and(max-width: 800px){
  .chat{
    width: 200%;
    .chat-container{
    border: 0px;
    }
    .matchs{
      .header:after{
        transform: rotate(2deg) skewX(0deg);
      }
      .header:before{
        transform: rotate(2deg) skewX(0deg);
      }
    }
    .col-4, .col-8{
      flex: initial;
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 500px){
  #chat-container{
    padding-bottom: 0;
  }
  #chat-container .row{
    margin-bottom: 0px;
  }
}