.landing-body {
    height: 100vh;
    width:100%;
    background: url('/img/index_pattern.png'),linear-gradient(to top,$main-light-orange,$main-red);
    position: fixed;
    
    .landing-shade{
        background-color: rgba(255,255,255,0.2);
       //background-color: rgba(0,0,0,0.2);
        height: 100%;
        width: 100%;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top:70px;
    }

    .nav {
        position: fixed;
        background-color: transparent;
        top: 10px;
        right:30px;

        a {
            color: $main-dark-grey !important;
            font-family: "Raleway";
            opacity: 0.65;
            font-size: 18px;

            &:hover{
                opacity: 1;
            }
        }
    }

    .landing-content{
        max-width: 500px;
        width:90%;
        position: relative;
        background-color: rgba(255,255,255,0.9) !important;
        border-radius: 0.2rem;
        border:none;
        .card-header{
            background: transparent !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom-color: $main-dark-orange !important;
        }
        .card-body{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}

@media screen and (max-height: 600px)
{
    .landing-shade {overflow-y: scroll;}	
}
