.profile-form{
    width: 90%;
    background-color: white;
    margin:auto;
    background-color: white;
    -webkit-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.1);
    padding:20px;
    border-radius:0.25rem;
}