@import 'variables.scss';
@import 'header/header.scss';
@import 'landing/landing.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/profile_form.scss';
@import 'form/form.scss';
@import 'modal/modal.scss';
@import 'browse/browse.scss';
@import 'browse/filters.scss';
@import 'chat/chat';
@import 'browse/map.scss';
@import './animations.scss';
@import 'profile/profile.scss';
@import 'notification/notification.scss';
@import 'settings/settings.scss';
@import 'search/search.scss';
@import url('https://unpkg.com/leaflet@1.4.0/dist/leaflet.css');

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none !important;
    -webkit-box-shadow: none;
    box-shadow: none !important;
    outline:none !important;
}

input {
    border-top: none !important;
    border-right: none !important;
    border-left:none !important;
    border-bottom: 2px solid #b2b2b2;

}

body.my-body {
    background-color: rgb(250,250,250);
    overflow-x:hidden;
    color:  $main-black;
    font-family: Roboto;
    position: relative;
}

.App{
    position: relative;
}
.app-container {
    width: 1000px;
    margin:auto;
    margin-top:-250px;
    height:auto;
    position: relative;
}

a {
    cursor: pointer;
}

h1,h2, h3,h4 {
    cursor: default;
    color: $main-black;
}

*{
    box-sizing: border-box;
    // touch-action: none;
}

@media screen and (max-width: 1000px){
    .app-container{
        margin-top:-200px;
    }
    .App {
        overflow-x:hidden
    }

}

.leaflet-container {
    height: 600px;
    width: 100%;
  }

.button {
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 20px;
    border-radius: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-size:14px;
    transition:all 0.4s;
}

.button.cl-d-ppl{
    color: $main-dark-purple;
}

.button.cl-org{
    color: $main-orange;
    &:hover {
        background-color: $main-orange;
        color:white;
    }
}

.button.full{
    background: linear-gradient(332deg, $main-dark-purple 0%, $main-orange 100%);
    background-position: center;
    color: white;
    border-radius: 30px;
    padding: 0 30px; 
    letter-spacing: 1.5px;
    &:disabled {
        opacity: 0.5;
        background: none;
        background-color: #4b4e6d;
        cursor: default;
    }
    &:disabled:hover {
        opacity: 0.5;
        background: none;
        background-color: #4b4e6d;
    }
    &:hover{
        background: linear-gradient(152deg, $main-orange 0%, $main-orange 100%);
    }
}

.page.loading{
    display:flex;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
    }
  }

  .img_loading.img_none{
        animation-name: pulsing ;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transition: all .3s ease-out;
        background-color: #D9DAE2;
        img{
            opacity: 0;
        }
  }
@media screen and (max-width: 1000px)
{
    .app-container {
        width:100%;
    }
}


@media screen and (max-width: 700px)
{
    .App {
        overflow:hidden;
    }
}