$main-dark-grey: #3a3a3a;
$main-red: #ff4a4a;
$main-dark-orange: #ff6b4a;
$main-medium-orange: #ff954a;
$main-light-orange: #ffab4a;
$form-font: "Abel";
$nav-font: "Raleway";
$main-red-trans : rgba(255,74,74,0.8);

$main-black :#393e41 ;
$main-light-purple :#4b4e6d;
$main-dark-purple: #493548;
$main-orange : #e94f37;