$main-dark-grey: #3a3a3a;
$form-font: "Abel";
$nav-font: "Raleway";

// $main-black :#393e41 ;
$main-black: #615F5E;
$main-light-purple :#4b4e6d;
// $main-dark-purple: #493548;
$main-dark-purple : #363B6D;
// $main-orange : #e94f37;
$main-orange: #E83114;