.filters-container{
    width: 100%;
    border-radius: 0.25rem;
    padding: 20px;
    background-color: transparent;
    transition: background-color .6s;
    h1{
      cursor:pointer;
      color:#363B6D;
      opacity:0.5;
      width: 100px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 15px;
      &:hover{
        opacity:1;
      }
    }
    .order{
      display: flex;
      position: relative;
      i{
        font-size: 20px;
        color: $main-dark-purple;
        opacity: 0.5;
        margin-top: 2px;
        cursor: pointer;
        transition: all .3s;
        margin-left: 10px;
        height: 24px;
        &:hover{
            opacity: 1;
        }
      }
      i.active{
        margin-top: -8px;
        transform: rotate(-180deg) skewX(0deg);
      }
      .order-input{
        display: none;
        margin-top: -1px;
        transition: all .3s;
        width: 0px;
        .my-select.no-border{
          width: 0px;
          overflow: hidden;
        }
      }
    
      h1.order{
        width: auto;
        margin-right: 10px;
      }
      .order-input.show{
        display: flex;
        .my-select.no-border{
          width: 150px;
          overflow: visible;
        }
      }
      .my-select.no-border .css-10nd86i{
        margin-bottom: 0;
        width: 150px;
        *{
          cursor: pointer;
          color: #363B6D;
          opacity: 1;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-size: 15px; 
          background-color: transparent;
        }
        .css-15k3avv{
          background-color: white;
          z-index:4;
        }
        .css-vj8t7z{
          min-height: 0px;
        }
        .css-2o5izw{
          min-height:0px;
          height: 30px;
          *{
            padding: 0px;
          }
          .css-1wy0on6{
            padding: 0px;
          }
        }
      }
      .my-select.no-border .css-1hwfws3{
        padding:0;
      }
      .css-1ep9fjw{
        padding: 0;
      }
    }
    .filters{
      width:0;
      display:flex;
      justify-content:space-around;
      transition: .5s;
      visibility:hidden;
      opacity:0;
      h2{
        cursor:pointer;
        color:#363B6D;
        transition: all 0.3s;
        margin:0;
        width:80px;
        text-align:center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 15.5px;
        opacity: 1;
      }
      h2.collapsed {
        opacity: 0.5;
        &:hover{
        opacity: 1;
        }
      }
    }
    .filters.active{
      visibility:visible;
      width:100%;
      opacity:1;
    }
    .trigger-filters {
      transition: .3s;
      i {
        transition: .3s;
      }
    }
    .trigger-filters.active{
      i {
        transform: rotate(180deg)
      }
    }
    .my-card{
        margin-top:10px;
        border: 0px;
        box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
        border-radius:0.25rem;
        display:flex;
        justify-content:center;
        min-height:92px;
        align-items:center;
        .my-select.no-border.multi .css-1wy0on6{
            height: 40px;
            position: absolute;
            top: -15px;
            right: -15px;
        }
        .my-select.no-border.multi .css-12jo7m5{
            padding-left: 3px;
        }
        .my-select.no-border .css-10nd86i{
            margin-bottom:0;
        }
        .my-select.no-border .css-1hwfws3{
            display: flex;
            padding-right: 0;
        }
        .my-select.no-border.multi .css-1hwfws3{
          margin-top:10px;
        }
        .css-15k3avv{
            font-size: 16px !important;
            position: absolute;
            z-index:2
        }
        .my-select{
            width: 100%;
        }
    }
    .col{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.filters-container.active{
    background-color: rgba(50, 54, 100, 0.05);
    // background-color: rgba(232, 49, 20, 0.05);
    
}


@media screen and (max-width: 700px){
  .filters-container{
    .col{
      flex-basis: 45%;
    }
    .filters {
      flex-wrap: wrap;
      h2 {
        flex-basis:45%;
        margin-bottom:10px;
      }
    }
  }
}