.search-page{
    width:100%;
    display: flex;
    margin-bottom: 20px;
    .left {
        flex-basis: 25%;
        background-color:rgba(50, 54, 100, 0.05);
        border-radius: 0.25rem;
        padding:20px;

        .filters-container.active {
            background-color: transparent;
            padding:0;
            h1{
                cursor: default;
                margin: 0;
                &:hover{
                    opacity: 0.5;
                }
            }
            .my-card{
                margin-bottom: 20px;
            }
            .filters.active{
                flex-direction: column;
                align-items: center;
                h2{
                    font-family: "Roboto";
                    margin: 10px 0 0px 0;
                    cursor: default;
                    &:hover{
                        opacity: 0.5;
                    }
                }
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .sort{
                margin-bottom: 20px;
            }
            .my-card .my-select.no-border.multi .css-1hwfws3 {
                padding-top: 4px;
            }
            .my-card .my-select.no-border.location {
                .css-1hwfws3{
                    margin-top: 10px;
                }
                .css-1wy0on6{
                    position: absolute;
                    top: -20px;
                    right: -15px;
                }
            }
            .order-by{
                display: flex;
                justify-content: space-between;
                align-items:center;
                height: 27px;
                i{
                    font-size: 20px;
                    color: $main-dark-purple;
                    opacity: 0.5;
                    margin-bottom: -5px;
                    cursor: pointer;
                    transition: all .3s;
                    &:hover{
                        opacity: 1;
                    }
                }
                i.active{
                    margin-bottom: 5px;
                    transform: rotate(-180deg) skewX(0deg);
                }
            }
        }
    }
    .right {
        flex-basis: 75%;
        margin-left: 20px;
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.1);
        padding:20px;
        h2, h3{
            color: #363B6D;
            margin: 20px 0;
            text-align: center;
            letter-spacing: 1.5px;
            font-size: 15.5px;
        }
        h2{
            display: none
        }
        h2.show{
            display: block;
        }
        h3{
            opacity: 0.5;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
        .one-profile{
            display: flex;
            margin: 0px 20px;
            border-bottom: 2px solid rgba(50, 54, 100, 0.05);
            padding:10px;
            color: $main-dark-purple;
            &:hover{
                text-decoration: none;
                background-color:rgba(50, 54, 100, 0.05);
            }
            img{
                border-radius: 50%;
                width: 70px;
                height: 70px;
                object-fit: cover;
                margin-right: 20px;
            }
            .one-profile-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor:pointer;
                *{
                    cursor: pointer;
                }
                h4{
                    font-size: 18px;
                    color: #363B6D;
                    margin: 0;
                }
                h5{
                    color: #363B6D;
                    opacity: 0.5;
                    font-size: 15px;
                    margin:0;
                }
            }
        }
    }
}