.landing-nav {
    position: fixed;
    z-index: 10;
    margin-top: 250px;
    position: absolute;
    left: 10px;
    .my-0 {
        width: 150px;
    }
}

.navbar.connected{
    padding: 0.3rem 1rem;
    .my-0{
        width: 130px;
    }
    nav {
        a{
            transition:border-bottom 0.5s;
            &:hover{
                color:$main-orange;
                text-decoration: none;
                border-bottom:1px solid;
            }
        }
    }
}

#modal-search {
  width: 500px;
  height: 500px;
}

header {
  text-align: center;
  position: sticky;
  z-index: 20;
  width: 100%;
  transition: transform .4s;
  top: -80px;
  margin-bottom:100px;
  .my-toggler{
    background-color: $main-orange;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    flex-direction: column;
    align-items: center;
    color:white;
    font-size:25px;
    padding-top:5px;
    margin-left:10px;
    margin-top:10px;
    top:10px;
    position:fixed;
    z-index:100;
    display:none;
    &:focus{
      outline:none;
    }
    i:first-child{
      transition: all .4s;
      margin-top:5px;
      transform: rotate(-40deg) skewX(0deg);
    } 
    i {
      transition: all .4s;
      margin-top: -25px;
      transform: rotate(40deg) skewX(0deg);
    }
  }
  .my-toggler.collapsed{
    i:first-child{
      margin-top:5px;
      transform: rotate(0deg) skewX(0deg);
    } 
    i {
      margin-top: -19px;
      transform: rotate(0deg) skewX(0deg);
    }
  }
  img {
    height: 50px;
    margin-top:30px;
  }
  nav.my-nav {
    font-family: "Raleway";
    width: 100%;
    margin: auto;
    margin-top: 30px;
    min-height:65px;
    transition: transform .4s;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.05);
    border-radius: 4px;
    padding: 0;
    box-sizing: border-box;
    .profile-tab {
      height:65px;
      display: flex;
      align-items:center;
      background-color:$main-orange;
      color: white;
      width:250px;
      border-radius: 0.25rem 0 0 0.25rem;
      img {
        border-radius:50%;
        height:40px;
        width:40px;
        object-fit:cover;
        margin:0 10px 0 30px;
      }
      a {
        padding:0;
        color:white;
      }
    }
    .nav-link.notification{
      display: flex;
      align-items: center;
    }
    .notification-bubble{
      margin-left:5px;
      color: white;
      background-color: $main-orange;
      padding: 0 8px;
      border-radius: 20px;
    }
    .my-collapse {
      justify-content: space-between;
      background-color:white;
      height:100%;
      border-radius:4px;        
    }
    .my-collapse.collapsing{
        overflow: initial;
    }
    
    ul.my-ul{
      margin-left:20px;
      width:650px;
      margin-right:initial !important;
      display: flex;
      justify-content: space-evenly;
    }
    .my-li{
      padding: 0 20px;
      color: 3F3C3B;
      a.nav-link{
        color: #3F3C3B;
        &:hover{
          color:$main-orange;
        }
      }
      .nav-link.active{
        color:$main-orange;
      }
    }
    button.search{
      color: $main-orange;
      margin-right:10px;
      font-size:22px
    }
  }
  .my-dropdown{
    top:140%;
    box-shadow: 0px 2px 12px -4px rgba(0,0,0,0.1);
    border:none;
    width: 300px;
    left:-90px;
    padding:0;
    overflow:auto;
    font-family: "Roboto";
    max-height: 300px;
    visibility: hidden;
    &:hover{
      visibility: visible;
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
    &::-webkit-scrollbar-thumb {
      background:#776876; 
      border-radius:3px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $main-dark-purple;
    }
    a {
      height:50px;
      display:flex;
      align-items:center;
      padding: 0 10px;
      visibility: visible;
      background-color: white;
      cursor:pointer;
      &:focus, &:active{
        background-color: white;
      }
      img {
        width: 40px;
        height:40px;
        object-fit:cover;
        border-radius:50%;
        margin:0;
      }
      .notif-content{
        display:flex;
        flex-direction:column;
        padding:5px 10px;
      }
      h3{
        font-size: 15px;
        color: #363B6D;
        margin:0;
      }
      h4 {
        margin:0;
        color: #363B6D;
        opacity: 0.5;
        font-size:12px;
      }
    }
  }

}
#background-header{
  position: relative;
  z-index: 0;
  width: 160%;
  height: 250px;
  margin-left: -30%;
  border-bottom-left-radius: 50% 150px;
  border-bottom-right-radius: 50% 150px;
  text-align: center;
  overflow: hidden;
  background-image: url(https://images.unsplash.com/photo-1470754260170-299cad39501f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:after{
    content: "";
    position: absolute;
    top:250px;
    left: 0;
    background-color:$main-dark-purple;
    padding-bottom: 450px;
    width: 100%;
    transform-origin: 0 0;
    transform: rotate(-6deg) skewX(0deg);
    opacity:0.5;
    border-top-left-radius: 50% 150px;
  }
  &:before{
      content: "";
      position: absolute;
      top:-50px;
      left: 0;
      background-color:$main-orange;
      padding-bottom: 340px;
      width: 100%;
      transform-origin: 0 0;
      transform: rotate(-6deg) skewX(0deg);
      opacity:0.3;
      border-bottom-right-radius: 50% 150px;
  }
}

@media screen and (max-width: 1000px){
  .body-container {
    width:100%;
  }
  header{
    margin-bottom: 150px;
    img {
      height:35px;   
    }
    .my-toggler{
      display:flex
    }
    nav.my-nav{
      box-shadow: none;
      overflow: initial;
      position: fixed;
      top: -30px;
      .profile-tab {
        margin:auto;
        justify-content:center;
        img {
          margin:0;
          margin-right:10px;
        }
      }
      .my-collapse {
        width: 100%;
        border-radius:0px;
        background-color: $main-orange;
        border-bottom-left-radius: 200% 250px;
        border-bottom-right-radius: 200% 250px;
        margin-left: -50px;
        margin-right: -50px;
        padding: 0 50px;
        transition: all .4s;
        ul.my-ul {
          width:200px;
          margin:auto !important;
        }
        .my-li a.nav-link{
          color:white;
        }
        form {
          justify-content:flex-end;
          margin-top:0!important;
          margin-bottom:50px !important;
        }
        button.search{
          color:white;  
        }    
      } 
    }
  }
  #background-header {
    height:200px;
    &:before{
      top:-150px
    }
    &:after{
      top:150px;
    }
  } 
  header .my-dropdown{
    margin-left:-65px;
    visibility: visible;
    max-height: 250px;
  }
}
