.form {
    width: 100%;
    font-family: $form-font !important;
    
    .form-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90px;
        justify-content: space-around;
        margin: 10px 0;
        img {
            width: 40px;
        }

        h2 {
            font-size: 22px;
            letter-spacing: 1px;
            color:$main-light-purple;
            text-transform: uppercase;
        }
    }
    .alert{
        text-align: center !important;
        border-radius: 0;

        p {
            margin-bottom: 0;
        }
    }
    .alert-danger-matcha{
        margin-bottom: 0px;
        color: $main-orange!important;
        letter-spacing: 0.5px;
    }
    .alert-success-matcha{
        margin-bottom: 0px;
        color: $main-online!important;
        letter-spacing: 0.5px;
    }

    .btn {
        border:none;
        &:hover {
            background-color: $main-orange;
            color:white;
        }
    }

    .form-submit{
        margin:auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        .a-submit {
            margin-left: 20px;
            opacity: 0.5;
            color: $main-dark-purple  !important;
            // text-decoration: underline !important;
            padding-bottom: 0.5px;
            border-bottom: 1px solid;

            &:hover{
                opacity: 1;
            }
        }
    }
    .form-group{
        .input-group{
            .form-control{
                font-size: 15px;
                color: #555555;
                line-height: 1.2;
                display: block;
                width: 100%;
                background: transparent;
                padding: 0 5px;
                border-radius: 0 !important;
                transition: all 1s;
                resize: none;

                &:focus{
                    border-bottom-color: $main-orange;
                }
            }
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
            }
        }

        .alert-input{
            position: relative;
            margin-bottom: 1rem;
            font-size: 13px;
            color: $main-orange; 

        }
    }
}

//IMG UPLOAD
.img-upload-display{
    display: flex;
    width: 100%;
    clear: both;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .img-preview-div{
        display:flex;
    }
    .img-preview-container{
        margin-right: 20px;
        overflow: hidden;
        border-radius: 0.25rem;
        .img-preview{
            height: 150px;
            width: 150px;
            background-size: cover;
            background-position: center;
            position: relative;
            .hover{
                position:absolute;
                width:100%;
                background-color:rgba(75,78,109,0.8);
                bottom: 0px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .4s;
                font-size: 18px;
                letter-spacing: 1px;
                height: 0;
                opacity: 0;
                cursor: pointer;
            }
            &:hover .hover{
                height: 100%;
                opacity: 1;
            }
        }
    }
}
.img-upload-container.display-none{
    display:none;
}

.img-upload-container.img{
    border-radius:0.25rem;
    float: initial;
    margin-bottom: 0;
    label{
        color: white;
        font-size: 30px;
    }
}
.img-upload-container {
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: right;
    cursor: pointer;
    overflow: hidden;
    background-color: $main-dark-purple-03;
    display: flex;
    align-items: center;
    justify-content: center;

    label{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:17px;
        color:white
    }
    .img-preview-container {
        background-color: #f7f7f7;
        position: absolute;

        .hover{
            z-index: 2;
            background-color: $main-dark-purple;
            width: 100%;
            opacity: 0.8;
            position: absolute;
            bottom: 0px;
            height: 50px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .4s;
            font-size: 18px;
            letter-spacing: 1px;
            font-family: Roboto;
        }
        .hover:hover{
            opacity:1;
            height:100%;
        }
    }

    .img-preview {
        background: center center no-repeat;
        background-size: cover;
        height:150px;
        width:150px;
    }

    .img-upload {
        // margin-right: 20px;
        margin-bottom: 0;
    }
    input {
        display: none;
    }

    .alert {
        margin-top: 10px;
    }
}

.slider-interval{
    width: 100%;
    .rc-slider-track{
        background-color: $main-dark-purple;
    }
    .rc-slider-handle{
        border-color: $main-dark-purple;
        &:hover, &:active{
            border-color: $main-orange;
        }
        &:focus {
            border-color: $main-orange;
            -webkit-box-shadow: none;
            box-shadow: 0 0 0 5px #F07B69 ;
            outline: none;
        }
    }
    .rc-slider-handle-click-focus{
        border-color: $main-orange;
    }
}


.react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 100%;
    border: none;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: transparent;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: none;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 0.25rem;
    z-index: 2;
    box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: transparent; 
      }
      &::-webkit-scrollbar-thumb {
        background:#776876; 
        border-radius:3px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $main-dark-purple;
      }
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    height: 60px;
    a{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        color:$main-dark-purple;
        &:hover{
            text-decoration: none;
            color:$main-dark-purple;
        }
        img{
            margin: 0;
            object-fit: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        h5{
            height: 30px;
            margin:0;
        }
    }
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: rgba(50, 54, 100, 0.3);
  }
  
  .react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
  }
  
  .react-autosuggest__section-container--first {
    border-top: 0;
  }
  
  .react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
  }

@media screen and (max-width: 320px)
{
    .form .form-submit .a-submit {margin-left: 0px ;margin-top: 7px}
}
