.form {
    width: 90%;
    .form-group{
        .input-group{
            .form-control{
                font-family: Poppins-Regular;
                font-size: 15px;
                color: #555555;
                line-height: 1.2;
                display: block;
                width: 100%;
                background: transparent;
                padding: 0 5px;
                border-radius: 0 !important;
                
                
            }

        }
    }
}