.navbar nav a {
  color: #3a3a3a !important; }

.landing-body {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1456348830699-7fb83b2d26b9?ixlib=rb-0.3.5&s=8e50da0952f86a1bc830926534bd7ed2&auto=format&fit=crop&w=1650&q=80);
  background-position: center center;
  background-size: cover; }
  .landing-body .landing-shade {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .landing-body .landing-content {
    max-width: 500px;
    width: 90%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 20px !important; }
    .landing-body .landing-content .card-header {
      background: transparent !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom-color: #ff6b4a !important; }
    .landing-body .landing-content .card-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }

.form {
  width: 90%; }
  .form .form-group .input-group .form-control {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
    border-radius: 0 !important; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #b2b2b2; }
