.navbar nav a {
  color: #3a3a3a !important; }

.landing-body {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1456348830699-7fb83b2d26b9?ixlib=rb-0.3.5&s=8e50da0952f86a1bc830926534bd7ed2&auto=format&fit=crop&w=1650&q=80);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed; }
  .landing-body .landing-shade {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 70px; }
  .landing-body .nav {
    position: fixed;
    background-color: transparent;
    top: 10px;
    right: 30px; }
    .landing-body .nav a {
      color: #3a3a3a !important;
      font-family: "Raleway";
      opacity: 0.65; }
      .landing-body .nav a:hover {
        opacity: 1; }
  .landing-body .landing-content {
    max-width: 500px;
    width: 90%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius: 7px !important; }
    .landing-body .landing-content .card-header {
      background: transparent !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom-color: #ff6b4a !important; }
    .landing-body .landing-content .card-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }

@media screen and (max-height: 600px) {
  .landing-shade {
    overflow-y: scroll; } }

.form {
  width: 80%;
  font-family: "Abel" !important; }
  .form .alert-danger-matcha {
    background-color: rgba(255, 74, 74, 0.8) !important;
    text-align: center !important;
    border-radius: 0; }
    .form .alert-danger-matcha p {
      margin-bottom: 0; }
  .form .btn {
    border-radius: 0 !important;
    color: #ff954a;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ffab4a; }
    .form .btn:hover {
      background-color: #ffab4a;
      color: white; }
    .form .btn:disabled:hover {
      background-color: transparent;
      color: #3a3a3a;
      border-color: #3a3a3a; }
  .form .form-submit {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .form .form-submit .a-submit {
      margin-left: 20px;
      opacity: 0.5;
      color: #3a3a3a !important;
      text-decoration: underline !important; }
      .form .form-submit .a-submit:hover {
        opacity: 1;
        color: #ff6b4a !important; }
  .form .form-group .input-group .form-control {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
    border-radius: 0 !important;
    transition: all 1s; }
    .form .form-group .input-group .form-control:focus {
      border-bottom-color: #ffab4a; }
  .form .form-group .alert-input {
    position: relative;
    margin-bottom: 1rem;
    font-size: 13px;
    color: #ff6b4a; }

@media screen and (max-width: 320px) {
  .form .form-submit .a-submit {
    margin-left: 0px;
    margin-top: 7px; } }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  outline: none !important; }

input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid #b2b2b2; }

body {
  color: #3a3a3a !important; }

a {
  cursor: pointer; }
