.navbar .my-0 {
  width: 150px; }

.navbar nav a {
  color: #3a3a3a !important;
  font-family: "Raleway"; }

.landing-nav {
  position: fixed;
  z-index: 10; }
  .landing-nav .my-0 {
    width: 150px; }

.landing-body {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  .landing-body .landing-shade {
    background: linear-gradient(160deg, #000000 0%, white 100%);
    opacity: 0.3;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .landing-body .nav {
    position: fixed;
    background-color: transparent;
    top: 0;
    right: 30px;
    height: 80px;
    display: flex;
    align-items: center; }
    .landing-body .nav a {
      color: #3a3a3a !important;
      font-family: "Raleway";
      opacity: 0.65;
      font-size: 18px; }
      .landing-body .nav a:hover {
        opacity: 1; }
  .landing-body .landing-form {
    display: none;
    max-width: 500px;
    width: 90%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius: 0.2rem;
    border: none; }
    .landing-body .landing-form .card-header {
      background: transparent !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-bottom-color: #ff6b4a !important; }
    .landing-body .landing-form .card-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
  .landing-body .landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    position: relative;
    border-radius: 0.2rem;
    border: none; }
    .landing-body .landing-content h1 {
      color: white;
      font-size: 4rem; }

.button.sign_up {
  background: linear-gradient(332deg, #4b4e6d 0%, #e94f37 100%);
  letter-spacing: 1.5px;
  height: 60px;
  padding: 0 50px;
  color: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.27);
  transition: all 0.3s;
  font-size: 16px; }
  .button.sign_up:hover {
    background: linear-gradient(152deg, #e94f37 0%, #e94f37 100%); }

.form {
  width: 80%;
  font-family: "Abel" !important; }
  .form .alert {
    text-align: center !important;
    border-radius: 0; }
    .form .alert p {
      margin-bottom: 0; }
  .form .alert-danger-matcha {
    background-color: rgba(255, 74, 74, 0.8) !important; }
  .form .alert-success-matcha {
    background-color: #ffab4a !important; }
  .form .btn {
    border-radius: 0 !important;
    color: #ff954a;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ffab4a; }
    .form .btn:hover {
      background-color: #ffab4a;
      color: white; }
    .form .btn:disabled:hover {
      background-color: transparent;
      color: #3a3a3a;
      border-color: #3a3a3a; }
  .form .form-submit {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .form .form-submit .a-submit {
      margin-left: 20px;
      opacity: 0.5;
      color: #3a3a3a !important;
      text-decoration: underline !important; }
      .form .form-submit .a-submit:hover {
        opacity: 1;
        color: #ff6b4a !important; }
  .form .form-group .input-group .form-control {
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
    border-radius: 0 !important;
    transition: all 1s; }
    .form .form-group .input-group .form-control:focus {
      border-bottom-color: #ffab4a; }
  .form .form-group .alert-input {
    position: relative;
    margin-bottom: 1rem;
    font-size: 13px;
    color: #ff6b4a; }

@media screen and (max-width: 320px) {
  .form .form-submit .a-submit {
    margin-left: 0px;
    margin-top: 7px; } }

.modal {
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal-content {
    border: none;
    border-radius: 0.25rem; }

.modal.display-block {
  display: block !important;
  opacity: 1 !important; }

.modal.display-none {
  display: block !important;
  opacity: 1 !important; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  outline: none !important; }

input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid #b2b2b2; }

body {
  color: #3a3a3a !important; }

a {
  cursor: pointer; }

.button {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0 20px;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.4s; }

.button.cl-d-ppl {
  color: #493548; }

.button.cl-org {
  color: #e94f37; }
  .button.cl-org:hover {
    background-color: #e94f37;
    color: white; }
